
/*
bem model:

navbar
	--fixed
	--dark
	--light
	navbar__toggle
		navbar__toggle__button
	navbar__center
		navbar__center__title
		navbar__center__subtitle

	navbar__button
		--left
		--right

	navbar__left
		navbar__left__button

	navbar__right
		navbar-ui__right__button

*/
.navbar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 200;
  font-weight: 400;
  font-size: 17px;
  box-sizing: border-box;
  background-clip: padding-box;
  white-space: nowrap;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  height: 45px;
  padding-top: .5rem;
  color: #1f1f21;
  background-color: #fff; }
  .navbar--chrome {
    background-color: #efeff4;
    color: #1f1f21; }
  .navbar--alt {
    background-color: #888;
    color: #1f1f21; }
  .navbar--dark {
    background-color: #242326;
    color: #fff; }
  .navbar--primary {
    background-color: #0f5fb6;
    color: #fff; }
  .navbar__center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px 0; }
    .navbar__center__title {
      display: block; }
    .navbar__center__subtitle {
      display: block;
      font-size: 80%; }
  .navbar__content {
    padding: 0 5px;
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar__right {
    padding: 0 8px; }
  .navbar__left {
    padding: 0 8px; }
  .navbar__button {
    padding: 0.2rem 0.5rem;
    letter-spacing: 0;
    text-shadow: 0 1px none;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 1.1rem;
    transition: none;
    vertical-align: middle;
    box-shadow: none; }
    .navbar__button:active {
      background-color: rgba(0, 0, 0, 0.05);
      transition: none;
      opacity: 0.2; }
    .navbar__button:disabled, .navbar__button[disabled] {
      opacity: 0.3;
      cursor: default;
      pointer-events: none; }
    .navbar__button:focus {
      outline: 0;
      transition: none; }
    .navbar__button:hover {
      box-shadow: none;
      transition: none; }
    .navbar__button--back .icon {
      font-size: 1.1em; }
  .navbar__hamburger {
    width: 2.5em;
    transition: all 0.2s;
    position: relative; }
    .navbar__hamburger__icon {
      width: 25px;
      height: 2px;
      display: block;
      position: absolute;
      top: 50%;
      left: 15%;
      transition: -webkit-transform 300ms;
      transition: transform 300ms;
      transition: transform 300ms, -webkit-transform 300ms;
      background: rgba(0, 0, 0, 0.5); }
      .navbar__hamburger__icon--1 {
        -webkit-transform: translate3d(0, -8px, 0);
        transform: translate3d(0, -8px, 0); }
      .navbar__hamburger__icon--2 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .navbar__hamburger__icon--3 {
        -webkit-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0); }
