.navbar {
  font-family: 'GE Inspira Sans', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 200;
  box-sizing: border-box;
  white-space: nowrap;
  height: 56px;
  padding: 0.4rem 0.2rem;
  color: black;
  border-bottom: 1px solid gray;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .navbar > * {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none; }
  .navbar button {
    outline: none; }
  .navbar--fixed {
    position: fixed; }
  .navbar--shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15); }
  .navbar--static {
    position: static; }
  .navbar__left {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .navbar__center {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    text-align: center; }
    .navbar__center > * {
      display: block; }
  .navbar__right {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .navbar__title {
    display: block;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .navbar__subtitle {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .navbar__content {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden; }
  .navbar__button {
    padding: 0.2rem 0.5rem;
    letter-spacing: 0;
    text-shadow: 0 1px none;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    font-weight: 400;
    line-height: 34px;
    font-size: 1.1rem;
    padding: 0.2rem 0.5rem;
    min-width: 44px;
    height: 44px;
    transition: none;
    vertical-align: middle;
    box-shadow: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .navbar__button i,
    .navbar__button span {
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .navbar__button:active {
      background-color: rgba(0, 0, 0, 0.5);
      transition: none;
      opacity: 0.5; }
    .navbar__button:disabled, .navbar__button[disabled] {
      opacity: 0.3;
      cursor: default;
      pointer-events: none; }
    .navbar__button:focus {
      outline: 0;
      transition: none; }
    .navbar__button:hover {
      box-shadow: none;
      transition: none; }
  .navbar__hamburger {
    transition: all 0.2s;
    position: relative; }
    .navbar__hamburger__icon {
      width: 25px;
      height: 2px;
      display: block;
      position: absolute;
      top: 50%;
      left: 15%;
      transition: -webkit-transform 300ms;
      transition: transform 300ms;
      background: rgba(0, 0, 0, 0.5); }
      .navbar__hamburger__icon--1 {
        -webkit-transform: translate3d(0, -8px, 0);
                transform: translate3d(0, -8px, 0); }
      .navbar__hamburger__icon--2 {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
      .navbar__hamburger__icon--3 {
        -webkit-transform: translate3d(0, 8px, 0);
                transform: translate3d(0, 8px, 0); }
