///px-navbar vars
$navbar-font-color: #222;
$navbar-border-color:#ddd;
$navbar-default-background-color: #fff;
$navbar-default-font-color: #1f1f21;
$navbar-chrome-background-color: #efeff4;
$navbar-chrome-font-color: #1f1f21;
$navbar-alt-background-color: #888;
$navbar-alt-font-color: #1f1f21;
$navbar-dark-background-color: #242326;
$navbar-dark-font-color: #fff;
$navbar-primary-background-color: #0f5fb6;
$navbar-primary-font-color: #fff;
$navbar-height: 45px;
$navbar-button-font-size: 1.1rem;
$navbar-button-padding: .2rem .5rem;
$navbar-button-background-color: rgba(0, 0, 0, 0);
