///
@import "variables";
///
@import 'px-mobile-mixin-design/_mixins';

///px-navbar styles
///
///
/// @access public
.navbar {
		font-family: 'GE Inspira Sans', sans-serif;
		user-select: none;
		z-index    : 200;
		position   : absolute;
		top        : 0;
		left       : 0;
		right      : 0;

		.viewport {
				box-sizing     : border-box;
				white-space    : nowrap;
				align-items    : center;
				justify-content: space-between;
				height         : $navbar-height;
				padding        : $navbar-padding;
				display        : flex;
		}

		* {
				user-select: none;
				outline    : 0;
		}

		button {
				outline: 0;
		}

		///.navbar--fixed
		@include modifier ('fixed') {
				position: fixed;
		}

		///.navbar--static
		@include modifier ('static') {
				position: static;
		}

		//todo - Need to use absolute position for true center.
		@include element ('center') {
				@include centerer();
				order     : 2;
				flex      : 1 0 auto;
				align-self: center;
				text-align: center;

				> * {
						display: block;
				}
		}
		///.navbar__left
		@include element ('left') {
				order: 1;
				//flex : 1 0 auto;
		}
		///.navbar__right
		@include element ('right') {
				order: 3;

		}
		///.navbar__title
		@include element ('title') {

				display    : block;
				margin     : 0;
				padding    : 0;
				user-select: none;
				outline    : 0;
		}
		///.navbar__subtitle
		@include element ('subtitle') {
				display    : block;
				user-select: none;

		}

		///.navbar__content
		@include element ('content') {
				position       : relative;
				display        : flex;
				justify-content: space-between;
				overflow       : hidden;
		}

		///.navbar__button
		@include element ('button') {
				padding       : $navbar-button-padding;
				letter-spacing: 0;
				text-shadow   : 0 1px none;

				font-weight   : 400;
				line-height   : 33px;

				padding       : $navbar-button-padding;
				min-width     : $navbar-button-height;
				height        : $navbar-button-height;
				transition    : none;
				vertical-align: middle;
				box-shadow    : none;
				display       : flex;
				align-items   : center;

				&.btn {
						min-width       : $navbar-button-height;
						height          : $navbar-button-height;
						background-color: inherit;
						border          : inherit;
						border-radius   : inherit;
				}

				i,
				span {
						flex      : 1;
						align-self: stretch;
				}

				&:disabled,
				&[disabled] {
						opacity       : 0.3;
						cursor        : default;
						pointer-events: none;
				}

				&:focus {
						outline   : 0;
						transition: none;
				}

				&:hover {
						box-shadow: none;
						transition: none;
				}

				@include modifier ('back') {
						i {
								margin-right: 0.4rem;
						}
				}
		}

		.btn {
				min-width: $navbar-button-height;
				height   : $navbar-button-height;
		}

}
