///
@import "variables";

///
@import 'px-mobile-mixin-design/_mixins';
@import 'px-navbar-predix';

.navbar {
		///.navbar--transparent
		@include modifier ('transparent') {
				background-color: transparent;
				color           : $navbar-default-font-color;

				.navbar__button {
						color: $navbar-default-font-color;
				}
		}
		///.navbar--chrome
		@include modifier ('chrome') {
				background-color   : $navbar-chrome-background-color;
				border-bottom-color: darken($navbar-chrome-background-color, 20%);
				color              : $navbar-chrome-font-color;

				.navbar__button {
						color: $navbar-chrome-font-color;
				}
		}
		///.navbar--fixed
		@include modifier ('alt') {
				background-color   : $navbar-alt-background-color;
				color              : $navbar-alt-font-color;
				border-bottom-color: darken($navbar-alt-background-color, 20%);

				.navbar__button {
						color: $navbar-alt-font-color;
				}
		}
		///.navbar--fixed
		@include modifier ('dark') {
				background-color   : $navbar-dark-background-color;
				color              : $navbar-dark-font-color;
				border-bottom-color: darken($navbar-dark-background-color, 20%);

				.navbar__button {
						color: $navbar-dark-font-color;
				}
		}
		///.navbar--fixed
		@include modifier ('primary') {
				background-color   : $navbar-primary-background-color;
				color              : $navbar-primary-font-color;
				border-bottom-color: darken($navbar-primary-background-color, 20%);

				.navbar__button {
						color: $navbar-primary-font-color;
				}
		}
}
