:root .navbar {
  font-family: 'GE Inspira Sans', sans-serif;
  user-select: none;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0;
  display: flex; }
  :root .navbar * {
    user-select: none;
    outline: 0; }
  :root .navbar button {
    outline: 0; }
  :root .navbar--fixed {
    position: fixed; }
  :root .navbar--static {
    position: static; }
  :root .navbar__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    order: 2;
    flex: 1 0 auto;
    align-self: center;
    text-align: center; }
    :root .navbar__center > * {
      display: block; }
  :root .navbar__left {
    order: 1; }
  :root .navbar__right {
    order: 3; }
  :root .navbar__title {
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: 0; }
  :root .navbar__subtitle {
    display: block;
    user-select: none; }
  :root .navbar__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
  :root .navbar__button {
    padding: 0.2rem 0.5rem;
    letter-spacing: 0;
    text-shadow: 0 1px none;
    font-weight: 400;
    line-height: 34px;
    padding: 0.2rem 0.5rem;
    min-width: 44px;
    height: 44px;
    transition: none;
    vertical-align: middle;
    box-shadow: none;
    display: flex;
    align-items: center; }
    :root .navbar__button.btn {
      min-width: 44px;
      height: 44px;
      background-color: inherit;
      border: inherit;
      border-radius: inherit; }
    :root .navbar__button i,
    :root .navbar__button span {
      flex: 1; }
    :root .navbar__button:disabled, :root .navbar__button[disabled] {
      opacity: .3;
      cursor: default;
      pointer-events: none; }
    :root .navbar__button:focus {
      outline: 0;
      transition: none; }
    :root .navbar__button:hover {
      box-shadow: none;
      transition: none; }
    :root .navbar__button--back i {
      margin-right: .4rem; }
  :root .navbar .btn {
    min-width: 44px;
    height: 44px; }

:root .navbar {
  color: black;
  border-bottom: 1px solid gray;
  background-color: #FFFFFF; }
  :root .navbar--transparent {
    background-color: transparent;
    color: black; }
    :root .navbar--transparent .navbar__button {
      color: black; }
  :root .navbar--shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15); }
  :root .navbar--chrome {
    background-color: #efeff4;
    border-bottom-color: #b3b3ca;
    color: #242326; }
    :root .navbar--chrome .navbar__button {
      color: #242326; }
  :root .navbar--dark {
    background-color: #242326;
    color: #FFFFFF;
    border-bottom-color: black; }
    :root .navbar--dark .navbar__button {
      color: #FFFFFF; }
  :root .navbar--primary {
    background-color: #3e87e8;
    color: #FFFFFF;
    border-bottom-color: #1455ac; }
    :root .navbar--primary .navbar__button {
      color: #FFFFFF; }
  :root .navbar__button {
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1rem; }
    :root .navbar__button:active {
      background-color: rgba(0, 0, 0, 0.5);
      transition: none;
      opacity: .5; }
  :root .navbar__title {
    font-size: 1.1rem;
    color: black; }
  :root .navbar__subtitle {
    font-size: 1rem;
    color: #9999a3; }
