/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
:root .has-navbar {
  padding-top: 56px; }

:root .navbar {
  font-family: 'GE Inspira Sans', sans-serif;
  user-select: none;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  :root .navbar__inner {
    box-sizing: border-box;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
    padding: 0.3333333333rem;
    display: flex;
    overflow: hidden; }
  :root .navbar * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    outline: 0; }
  :root .navbar button {
    outline: 0; }
  :root .navbar--tiny {
    padding: 0.3333333333rem; }
  :root .navbar--small {
    padding: 0.6666666667rem; }
  :root .navbar--default {
    padding: 1rem; }
  :root .navbar--large {
    padding: 1.3333333333rem; }
  :root .navbar--huge {
    padding: 2rem; }
  :root .navbar--fixed {
    position: fixed; }
  :root .navbar--static {
    position: static; }
  :root .navbar__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    order: 2;
    flex: 1 0 auto;
    align-self: center;
    text-align: center; }
    :root .navbar__center > * {
      display: block; }
  :root .navbar__left {
    order: 1; }
  :root .navbar__right {
    order: 3; }
  :root .navbar__title {
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: 0; }
  :root .navbar__subtitle {
    display: block;
    user-select: none; }
  :root .navbar__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
  :root .navbar__button {
    padding: 0.3333333333rem;
    letter-spacing: 0;
    text-shadow: 0 1px none;
    font-weight: 400;
    line-height: 33px;
    padding: 0.3333333333rem;
    min-width: 44px;
    height: 44px;
    transition: none;
    vertical-align: middle;
    box-shadow: none;
    display: flex;
    align-items: center; }
    :root .navbar__button.btn {
      min-width: 44px;
      height: 44px;
      background-color: inherit;
      border: inherit;
      border-radius: inherit; }
    :root .navbar__button i,
    :root .navbar__button span {
      flex: 1 0 auto;
      align-self: stretch; }
    :root .navbar__button:disabled, :root .navbar__button[disabled] {
      opacity: 0.3;
      cursor: default;
      pointer-events: none; }
    :root .navbar__button:focus {
      outline: 0;
      transition: none; }
    :root .navbar__button:hover {
      box-shadow: none;
      transition: none; }
    :root .navbar__button--back i {
      margin-right: 0.4rem; }
  :root .navbar .btn {
    min-width: 44px;
    height: 44px; }

:root .navbar {
  color: black;
  border-bottom: 1px solid #b1b1bc;
  background-color: white; }
  :root .navbar--transparent {
    background-color: transparent;
    color: black; }
    :root .navbar--transparent .navbar__button {
      color: black; }
  :root .navbar--shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15); }
  :root .navbar--chrome {
    background-color: #efeff4;
    border-bottom-color: #d1d0d8;
    color: #242326; }
    :root .navbar--chrome .navbar__button {
      color: #242326; }
  :root .navbar--dark {
    background-color: #242326;
    color: white;
    border-bottom-color: black; }
    :root .navbar--dark .navbar__button {
      color: white; }
  :root .navbar--primary {
    background-color: #3e87e8;
    color: white;
    border-bottom-color: #2b5ea2; }
    :root .navbar--primary .navbar__button {
      color: white; }
  :root .navbar__button {
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 1rem; }
    :root .navbar__button:active {
      background-color: rgba(0, 0, 0, 0.5);
      transition: none;
      opacity: 0.5; }
  :root .navbar__title {
    font-size: 1.1rem;
    color: black; }
  :root .navbar__subtitle {
    font-size: 1rem;
    color: #9999a3; }
