/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
.has-navbar {
  padding-top: 56px; }

.navbar {
  font-family: 'GE Inspira Sans', sans-serif;
  user-select: none;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .navbar__inner {
    box-sizing: border-box;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 56px;
    padding: 0.3333333333rem;
    display: flex;
    overflow: hidden; }
  .navbar * {
    user-select: none;
    outline: 0; }
  .navbar button {
    outline: 0; }
  .navbar--tiny {
    padding: 0.3333333333rem; }
  .navbar--small {
    padding: 0.6666666667rem; }
  .navbar--default {
    padding: 1rem; }
  .navbar--large {
    padding: 1.3333333333rem; }
  .navbar--huge {
    padding: 2rem; }
  .navbar--fixed {
    position: fixed; }
  .navbar--static {
    position: static; }
  @media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
    .navbar {
      position: fixed; } }
  @media (min-width: 321px) {
    .navbar {
      position: fixed; } }
  .navbar__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    order: 2;
    flex: 1 0 auto;
    align-self: center;
    text-align: center; }
    .navbar__center > * {
      display: block; }
  .navbar__left {
    order: 1; }
  .navbar__right {
    order: 3; }
  .navbar__title {
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: 0; }
  .navbar__subtitle {
    display: block;
    user-select: none; }
  .navbar__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden; }
  .navbar__button {
    padding: 0.3333333333rem;
    letter-spacing: 0;
    text-shadow: 0 1px none;
    font-weight: 400;
    line-height: 33px;
    padding: 0.3333333333rem;
    min-width: 44px;
    height: 44px;
    transition: none;
    vertical-align: middle;
    box-shadow: none;
    display: flex;
    align-items: center; }
    .navbar__button.btn {
      min-width: 44px;
      height: 44px;
      background-color: inherit;
      border: inherit;
      border-radius: inherit; }
    .navbar__button i,
    .navbar__button span {
      flex: 1 0 auto;
      align-self: stretch; }
    .navbar__button:disabled, .navbar__button[disabled] {
      opacity: 0.3;
      cursor: default;
      pointer-events: none; }
    .navbar__button:focus {
      outline: 0;
      transition: none; }
    .navbar__button:hover {
      box-shadow: none;
      transition: none; }
    .navbar__button--back i {
      margin-right: 0.4rem; }
  .navbar .btn {
    min-width: 44px;
    height: 44px; }
